:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #132631;
  background-position: fixed;
  background-size: cover;
  background-position: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #132631;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #515e64; /* Match background color of .home-button */
  color: white; /* White text */
  border: none; /* No border */
  padding: 8px 16px; /* Match padding of .home-button */
  border-radius: 4px; /* Match border radius of .home-button */
  font-size: 1em; /* Keep font size consistent */
  font-weight: 500; /* Keep font weight consistent */
  font-family: inherit; /* Keep font family */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
  background-color: #132631; /* Hover color to match .home-button */
}



div.week-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

div.week-navigation button {
  margin: 0 90px;
}

div.add-habit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}


table.habit-table {
  background-color: white;
  color: black;
  margin: 0 auto;
  border-color: black;
}


table.habit-table th,
table.habit-table td {
  background-color: #f0f0f0; /* Ensure both headers and cells have the same color */
  border: 1px solid #ddd; /* Add a subtle border to separate cells, if desired */
  padding: 10px; /* Add some padding for better spacing */
}



/* index.css */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black;
}

form label {
  margin: 5px;
}

form input {
  background-color: #515e64;
}


form input,
form select,
form button {
  margin-left: 5px; /* Add space between each input/select and the next label */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}


form button {
  background-color: #132631; /* Same background color as .nav-button */
  color: white; /* White text */
  border: none; /* No border */
  padding: 8px 16px; /* Same padding as .nav-button */
  border-radius: 4px; /* Same border radius */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s;
}


form button:hover {
  background-color: #515e64;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
